.page
    font: normal 13px 'Arial', sans-serif
    -webkit-font-smoothing: antialiased
    color: #3e444f
    background: #f5f5f1

    &__wrap
        margin: auto
        width: 1220px

    &__wrap:after
        display: block
        content: ''
        clear: both

    &__sidebar
        float: left
        width: 335px
        padding-top: 25px
        border-right: 1px solid #bfcbd1

    &__content
        overflow: hidden

h1
    font: bold 32px 'Rothonda', sans-serif

h2
    margin: 50px 0 24px
    font: bold 20px/1.2 'Rothonda', sans-serif

ul
    padding: 0

li
    list-style: none
    margin: 7px 0
    font-style: italic
