.icon
    display: inline-block

    &_search
        width: 20px
        height: 24px
        background: url('search.png') no-repeat

    &_cal-blue
        width: 18px
        height: 17px
        background: url('cal-blue.png') no-repeat

    &_cal-orange
        width: 18px
        height: 17px
        background: url('cal-orange.png') no-repeat

    &_geo-orange
        width: 15px
        height: 21px
        background: url('geo-orange.png') no-repeat

    &_hot
        width: 14px
        height: 15px
        background: url('hot.png') no-repeat

    &_person-blue
        width: 14px
        height: 12px
        background: url('person-blue.png') no-repeat

    &_person
        width: 13px
        height: 12px
        background: url('person.png') no-repeat

    &_persons
        width: 22px
        height: 13px
        background: url('persons.png') no-repeat

    &_search
        width: 19px
        height: 24px
        background: url('search.png') no-repeat

    &_dolphi,
    &_vip
        vertical-align: -7px

    &_dolphi
        width: 29px
        height: 28px
        background: url('dolphi.png') no-repeat

    &_fav
        width: 27px
        height: 26px
        background: url('fav.png') no-repeat
        vertical-align: -9px

    &_vip
        width: 28px
        height: 28px
        background: url('vip.png') no-repeat
