.header
    padding-top: 5px
    background: #fff url(stripes.png) top center repeat-x

    &__logo
        float: left

    &__items
        overflow: hidden

    &__item
        float: right
        height: 100px
        border-right: 1px solid #bfcbd1

    &__top,
    &__bottom
        overflow: hidden
        border-bottom: 1px solid #bfcbd1
