.phone
    display: inline-block
    margin: 30px

    &__area,
    &__local
        font: normal 25px 'Rothonda', sans-serif

    &__local
        font-weight: bold

    &__title
        float: right
        font: italic 13px 'Arial', sans-serif
