.user
    display: inline-block
    min-width: 110px
    margin: 14px 0
    text-align: center

    &__caption
        font: italic 12px 'Arial', sans-serif

    &__icon
        display: inline-block
        width: 40px
        height: @width
        overflow: hidden
        border: 2px solid #fdcc6d
        border-radius: 50%
        background: url(user.png) center center no-repeat
