.serp
    &__head
        padding: 20px 25px
        border-bottom: 1px solid #bfcbd1
        background: #f5f5f1

    &__title
        margin-bottom: 15px
        font: bold 32px 'Rothonda', sans-serif

    &__count
        color: #40afe3

    &__item
        border-bottom: 1px solid #bfcbd1

    &__throbber
        text-align: center
