@font-face {
    font-family: 'Rothonda';
    src: local('Rothonda');
    src: url(rtn55c-webfont.woff),
         url(rtn55c-webfont.eot),
         url(rtn55c-webfont.svg),
         url(rtn55c-webfont.ttf);
}

@font-face {
    font-family: 'Rothonda';
    font-weight: bold;
    src: local('Rothonda');
    src: url(rtn65c-webfont.woff),
         url(rtn65c-webfont.eot),
         url(rtn65c-webfont.svg),
         url(rtn65c-webfont.ttf);
}
