.table_wide
    width: 100%
    table-layout: fixed
    border-collapse: collapse

.table_theme_blue
    td
        padding: 12px 10px
        border: 2px solid #e4edf4
        vertical-align: top

    thead
        border-width: 1px 2px
        border-style: solid
        border-color: #d2dde3 #e4edf4

    th
        padding: 15px 10px
        text-align: left
        background: #e4edf4


.table_theme_brown
    td
        padding: 12px 10px
        border: 2px solid #f7f7ed
        vertical-align: top

    thead
        border-width: 1px 2px
        border-style: solid
        border-color: #d2dde3 #f7f7ed

    th
        padding: 15px 10px
        text-align: left
        background: #f7f7ed
