.search-filter

    &__title
        font: bold 15px 'Rothonda', sans-serif

    &__items
        margin-top: 15px

    &__item
        margin-right: 20px

    &__show-all
        font: italic 12px 'Arial', sans-serif
        color: #407fb7
        margin-left: 20px
        padding-left: 12px
        background url(arrow-tiny.png) 0 4px no-repeat
