.nav
    height: 60px

    &__item
        display: inline-block
        height: 16px
        margin: 22px 10px
        padding-left: 20px
        font: bold 16px Rothonda, sans-serif

    &__link
        color: rgb(62, 67, 78)

    &__link:hover
        text-decoration: none

    &__item_hl
        background: url(bullet.png) 0 center no-repeat
