.form-options
    width: 288px
    margin-bottom: 15px
    padding: 9px
    border: 2px solid #407fb7
    border-radius: 10px
    background: #e4edf4

    &__wrap
        border-radius: 10px
        background: #fff

    &__section
        border-bottom: 1px solid #e4edf4

    &__section:last-of-type
        border-bottom: none

    &__title
        font: bold 20px 'Rothonda', sans-serif

    &__content
        border-top: 1px solid #e4edf4

    &__title,
    &__content
        padding: 20px

    &__arrow
        float: right
        width: 11px
        height: 11px
        margin-top: 6px
        background: url(arrow.png) center center no-repeat
        transition: all .2s

    &__content
        display: none

    &__section_visible &__arrow
        transform: rotate(180deg)

    &__section_visible &__content
        display: block
