.form-options
    width: 288px
    padding: 9px
    border: 2px solid #407fb7
    border-radius: 10px
    background: #e4edf4

    &__content
        border-radius: 10px
        background: #fff

    &__section
        padding: 0 25px

    &__title
        border-bottom: 1px solid #e4edf4
        padding: 25px 0
        font: bold 20px 'Rothonda', sans-serif
