.checkbox

    &__wrap
        display: inline-block
        width: 16px
        height: @width
        background: #fff
        border-radius: 5px
        text-align: center

    &__checkbox
        background: none
        border: none

    &__label
        font-size: 12px
        font-style: italic
