.checkbox

    &__wrap
        display: inline-block
        width: 12px
        height: @width
        border-radius: 5px
        text-align: center
        vertical-align: -1px

    &__checkbox
        opacity: 0

    &__label
        margin-left: .5em


    &_theme_white &__wrap
        border: 2px solid #fff
        background: #fff

    &_theme_white &__label
        font-style: italic


    &_theme_orange &__wrap
        border: 2px solid #fdcc6d


    &_size_big &__wrap
        width: 14px
        height: @width
        vertical-align: -4px


    &_type_block
        display: block
        margin: 9px 0
        padding-left: 26px
        line-height: 24px

    &_type_block &__label
        margin-left: 8px

    &_type_block &__wrap
        margin-left: -26px
