.panel
    &_theme_brown
        margin: 0 0 15px 0
        padding: 7px 6px
        border: 2px solid #d0d0c6
        border-radius: 10px

    &_theme_brown &__wrap
        padding: 15px 20px
        border-radius: 10px
        background: #fff

