.form-search
    width: 310px
    color: #fff
    background: #407fb7
    border-radius: 10px

    &__section
        padding: 15px 25px 20px
        border-bottom: 1px solid #799bc4

    &__row
        margin: 6px 0
