.tag
    display: inline-block

.tag_theme_solid-grey,
.tag_theme_solid-blue,
.tag_theme_solid-orange
    font: bold 11px/20px 'Arial', sans-serif
    border-radius: 9px/50%
    margin-right: 2px
    padding: 0 7px
    color: white

.tag_theme_solid-grey
    background: #b8c3c9

.tag_theme_solid-blue
    background: #40afe3

.tag_theme_solid-orange
    background: #f77b2b

.tag_theme_strikeout
    color: #f02010
    font: normal 13px/20px 'Arial', sans-serif
    text-decoration: line-through

.tag_theme_bullet-orange,
.tag_theme_bullet-green,
.tag_theme_bullet-blue
    font: bold 13px/20px 'Arial', sans-serif

.tag_theme_bullet-orange
    color: #f77b2b

.tag_theme_bullet-green
    color: #04b904

.tag_theme_bullet-blue
    color: #0087c8
