.button
    min-width: 130px
    padding: 0
    border: none
    border-radius: 5px
    background: #ff9a0d
    color: #fff
    text-transform: uppercase
    font: bold 20px/44px 'Rothonda', sans-serif
    -webkit-font-smoothing: antialiased
